Problems/out/
Problems/.idea/
Problems/Problems.iml
Problems/.gitignore

Day_03/out/
Day_03/.idea/
Day_03/Day_03.iml
Day_03/.gitignore

Day_04/**/target/

# But do not ignore these specific files
!Day_04/.mvn/wrapper/maven-wrapper.jar
!Day_04/**/src/main/**/target/
!Day_04/**/src/test/**/target/

### IntelliJ IDEA ###
Day_04/.idea/*
Day_04/*.iws
Day_04/*.iml
Day_04/*.ipr
Day_04/.gitignore

Project_0/RevTaskManagementApplication/target/
!Project_0/RevTaskManagementApplication/.mvn/wrapper/maven-wrapper.jar
!Project_0/RevTaskManagementApplication/**/src/main/**/target/
!Project_0/RevTaskManagementApplication/**/src/test/**/target/

### IntelliJ IDEA ###
Project_0/RevTaskManagementApplication/.idea/modules.xml
Project_0/RevTaskManagementApplication/.idea/jarRepositories.xml
Project_0/RevTaskManagementApplication/.idea/compiler.xml
Project_0/RevTaskManagementApplication/.idea/libraries/
Project_0/RevTaskManagementApplication/*.iws
Project_0/RevTaskManagementApplication/*.iml
Project_0/RevTaskManagementApplication/*.ipr